<div class="comment">
  <div class="col-sm-12">
      <%= comment.content %>
  </div>
  <div class="col-sm-8">
      <small><%= time_ago_in_words(comment.created_at) %> ago by <%= link_to @user, user_path(comment.user_id) %></small>
  </div>
  <div class="col-sm-3">
    <%= link_to 'Delete', [comment.post, comment],
          method: :delete,
          class: "btn-danger",
          data: { confirm: 'Are you sure?'}    %>
  </div>
</div>
<br/>
<br/>
