<div id="mycarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
    <li data-target="#mycarousel" data-slide-to="1"></li>
    <li data-target="#mycarousel" data-slide-to="2"></li>
    <li data-target="#mycarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
        <div class="slide one"></div>
        <div class="carousel-caption">
            <h6>"Education is not preparation for life; education is life itself!"</h6>
        </div>
    </div>
    <div class="item">
        <div class="slide two"></div>
        <div class="carousel-caption">
            <h6>"Education is the most powerful weapon we can use to change the world."</h6>
        </div>
    </div>
    <div class="item">
        <div class="slide three"></div>
        <div class="carousel-caption">
            <h6>"There are two educations. One should teach how to make a living and the other how to live"</h6>
        </div>
    </div>
    <div class="item">
        <div class="slide four"></div>
        <div class="carousel-caption">
            <h6>The roots of education are bitter, but the fruit is sweet.</h6>
        </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container padded text-center">
    <p>Copyright &copy; Ak</p>
</div>






<!--
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p class="intro-text">A free blog space catered to tutors and tutees. <br /> Feel free to post your questions and queries!
                    </p>
                    <a href="/public" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Ak</p>
    </div>
</footer> -->
