   <!-- link_to(current_user.nil? "Login", login_path) do
    link_to(current_user.login, { controller: "users", action: "show", id: current_user })
    end -->
  <button type="button" class="btn btn-info"><%= link_to "Sign Up", new_user_path, id: "new-user", class: "sign"%></button>
  <h1>Home</h1>
