/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported before bootstrap itself.
 @import "bootstrap-sprockets";
 @import "bootstrap";

 $carousel-control-width: 12%;

 /* Carousel Styling */
.carousel-control{
  opacity: 0;
  color: transparent;
}
a:visited {
    color: transparent;
}
.slide {
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.one {
  background-image: url(image-path('intro-bg.jpg'));
}
.two {
  background-image: url(image-path('intro-bg2.jpeg'));
}
.three {
  background-image: url(image-path('intro-bg3.jpeg'));
}
.four {
  background-image: url(image-path('intro-bg4.jpeg'));
}
.carousel {
  height: 100%;
  max-height: 100%;

  margin:0 auto;
  overflow: hidden;
}
.carousel-caption h6 {
  font-size: 2.5em;
  font-style: italic;
  padding-bottom: 0.7em;
}
.carousel-caption p {
  font-size: 2em;
}

/* Navbar Styling */

 .navbar-default{
   background: #F7E3A8;
   border:10px solid #36465D;
   color:black;
   width: 80%;
   margin:0 auto;
   font-family: 'Michroma', sans-serif;
 }


#headtag{
  font-family: 'Bungee Shade', cursive;
  font-size:35px;
  color:black;
  line-height: 52px;
}
body{
font-family:'Michroma', sans-serif;
font-size:20px;
background-color:#36465D;
color:white;
}
a,#welcome_text,td,th{
  font-family: 'Michroma', sans-serif;
  color:black;
  font-weight:bold;
  padding:0 10px;
}
.commentform{
  font-family: 'Alef', sans-serif;
}
#welcome_text{
  line-height:50px;
  font-size:20px;
}
.jumbotron{
  text-align:center;
  font-size:15px;
}
#error_explanation{
  margin-left: 180px;
  border:5px solid red;
  color:black;
}
h1, .actions{
  padding-left:220px;
}

p{
  font-size:20px;
}
img{
  height:20px;
  width:20px;
}
.comment_content{
  padding: 4px;
}
blockquote {
  background: #f9f9f9;
  border: 10px solid #ccc;
}
.blockquote-left {
  background: #f9f9f9;
  border: 10px solid #ccc;
  margin: 1.5em 10px;
  margin-left: 5%;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.padded{
  padding:5px 10px;
}
.actions,.comment, .postnew{
  color:black;
}
.notice{
  width:40%;
  font-size:2em;
  margin:0 auto;
  color:black;
}
html, body {
  height: 100%;
}

#wrap {
  min-height: 80%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  clear:both;
}
